@using Microsoft.AspNetCore.Antiforgery
@using Rinkudesu.Gateways.Clients.LinkTags
@model System.Collections.Generic.List<Rinkudesu.Gateways.Webui.Models.TagIndexViewModel>
@inject IAntiforgery Antiforgery
@inject IViewLocalizer Localizer
<span hidden id="antiforgeryToken" token-value="@Antiforgery.GetTokens(Context).RequestToken"></span>
@{
    Guid linkId = ViewBag.LinkId;
}
<h3>@Localizer["tags"]</h3>
@foreach (var tag in Model)
{
    <span class="multiline-tags-container"><span class="tag-display tag-display-with-removal has-bg-colour" data-bg-colour="@tag.Colour"><span class="tag-background-pill-text">@Html.DisplayFor(m => tag.Name)</span><button class="delete-btn" data-action="link-tag-delete" data-tag="@tag.Id.ToString()" data-link="@linkId.ToString()"><i class="fa-solid fa-trash"></i></button></span></span>
}

@await Html.PartialAsync("_CreateAssignment", new LinkTagDto { LinkId = linkId })
