@using Rinkudesu.Gateways.Clients.Tags
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TagIndexQueryModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    var queryJson = JsonSerializer.Serialize(Model, new JsonSerializerOptions { DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull });
}

<span hidden id="translations" data-load-failed="@Localizer["data-load-failed"]"></span>

<h2>@Localizer["title"]</h2>

@await Html.PartialAsync("_QuickCreatePartial", new TagDto())

<hr/>

<div class="mb-2 d-flex flex-column">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
        @Localizer["filter"]
    </button>
</div>
<div class="collapse mb-2" id="filters">
    @await Html.PartialAsync("_FilterPartial", Model)
</div>

<div id="content">
    <span hidden id="query" data-value="@queryJson"></span>
    @Localizer["loading"]...
</div>
<div class="row" id="page-selection">
    <div class="col-4">
        <a id="page-prev" class="page-changer previous btn">@Localizer["previous"]</a>
        <a id="page-next" class="page-changer next btn">@Localizer["next"]</a>
    </div>
</div>

<script src="~/js/tagContentLoader.js" asp-append-version="true"></script>
<script src="~/js/dynamicContentLoader.js" asp-append-version="true"></script>
