@model PasswordChangeViewModel
@inject IViewLocalizer Localizer

<h3>@Localizer["changePassword"]</h3>
<form asp-action="ChangePassword" asp-antiforgery="true">
    <div class="row mt-2">
        <div class="col">
            @Html.DisplayNameFor(m => m.OldPassword)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" asp-for="OldPassword"/>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            @Html.DisplayNameFor(m => m.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" asp-for="NewPassword"/>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            @Html.DisplayNameFor(m => m.NewPasswordRepeat)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" asp-for="NewPasswordRepeat"/>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <input class="btn btn-primary" type="submit" value="@Localizer["saveChanges"]"/>
        </div>
    </div>
</form>
