@inject IViewLocalizer Localizer
@model Rinkudesu.Gateways.Webui.Models.LinkIndexViewModel

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-@Model.Id.ToString()">
    @Localizer["delete"]
</button>
<div class="modal fade" id="delete-@Model.Id.ToString()" tabindex="-1" aria-labelledby="delete-label-@Model.Id.ToString()" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break" id="delete-label-@Model.Id">@Localizer["delete"] @Html.DisplayFor(m => m.Title)?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" asp-antiforgery="true">
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                    <input name="id" value="@Model.Id.ToString()" type="hidden"/>
                    <input type="submit" class="btn btn-danger" value="@Localizer["delete"]"/>
                </form>
            </div>
        </div>
    </div>
</div>
