@using Microsoft.AspNetCore.Antiforgery
@model Rinkudesu.Gateways.Clients.Links.LinkDto
@inject IAntiforgery antiforgery
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    Uri returnUrl = ViewBag.ReturnUrl;
    var token = antiforgery.GetTokens(Context).RequestToken;
}
<input type="hidden" id="token" value="@token"/>
<input type="hidden" id="translations" data-load-failed="@Localizer["loadFailed"]" data-assign-failed="@Localizer["assignFailed"]"/>

<h2>@Localizer["edit"] @Html.DisplayFor(l => l.Title)</h2>

<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" id="showSharingOptions" data-bs-target="#sharingOptions">
            @Localizer["sharingOptions"]
        </button>
    </div>
</div>

<form asp-action="Edit" asp-antiforgery="true">
    <input type="hidden" name="returnUrl" value="@returnUrl"/>
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    @await Html.PartialAsync("_FormFields", Model)
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="@Localizer["save"]"/>
        <a class="btn btn-secondary" href="@returnUrl">@Localizer["cancel"]</a>
    </div>
</form>

<div id="tags" linkId="@Model.Id.ToString()">@Localizer["loadingTags"]</div>

<div class="modal fade" id="sharingOptions" tabindex="-1" aria-labelledby="#sharingOptionsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sharingOptionsLabel">@Localizer["sharingOptions"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input class="form-control" type="text" disabled id="shareKey" data-link-id="@Model.Id.ToString()"/>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-dark" id="shareKeyAction" data-text-share="@Localizer["share"]" data-text-stop="@Localizer["stop"]">...</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/linkSharing.js" asp-append-version="true"></script>
<script src="~/js/linkTagAssignment.js" asp-append-version="true"></script>
