@using Rinkudesu.Gateways.Clients.Links
@using Rinkudesu.Gateways.Webui.Utils
@inject IViewLocalizer Localizer
@model System.Collections.Generic.List<Rinkudesu.Gateways.Webui.Models.LinkIndexViewModel>

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    var query = (LinkIndexQueryModel)ViewBag.Query;
}

<h2>@Localizer["title"]</h2>

<form asp-controller="SharedLinksAccess" asp-action="Get" method="GET">
    <div class="row mb-2">
        <div class="col-2 d-flex text-center">
            @Localizer["share-key"]
        </div>
        <div class="col-7">
            <input type="text" maxlength="51" name="key" required class="form-control"/>
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-dark" value="@Localizer["find"]"/>
        </div>
    </div>
</form>

@await Html.PartialAsync("_QuickCreatePartial", new LinkIndexViewModel())
<a asp-action="Create" class="btn btn-dark">@Localizer["create"]</a>

@await Html.PartialAsync("_FilterPartial", query)

@foreach (var link in Model)
{
    <div class="row mb-2">
        <div class="col">
            @link.LinkUrl
        </div>
        <div class="col multiline-tags-container">
            @foreach (var tag in link.LinkTags)
            {
                <span class="tag-display"><span class="user-data-display">@tag.Name</span></span>
            }
        </div>
        <div class="col-1">
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@link.Id.ToString()" asp-route-returnUrl="@Context.GetCurrentUrl()">@Localizer["edit"]</a>
        </div>
        <div class="col-1">
            @await Html.PartialAsync("_DeletePartial", link)
        </div>
    </div>
}
