@inject IViewLocalizer Localizer
@using System.Text.Json
@using System.Text.Json.Serialization
@model LinkIndexQueryModel

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    var queryJson = JsonSerializer.Serialize(Model, new JsonSerializerOptions { DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull });
}

<h2>@Localizer["title"]</h2>

<form asp-controller="SharedLinksAccess" asp-action="Get" method="GET">
    <div class="row mb-2">
        <div class="col-2 d-flex text-center">
            @Localizer["share-key"]
        </div>
        <div class="col-7">
            <input type="text" maxlength="51" name="key" required class="form-control"/>
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-dark" value="@Localizer["find"]"/>
        </div>
    </div>
</form>

@await Html.PartialAsync("_QuickCreatePartial", new LinkIndexViewModel())
<a asp-action="Create" class="btn btn-dark">@Localizer["create"]</a>

<hr/>

<div class="mb-2 d-flex flex-column">
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
        @Localizer["filter"]
    </button>
</div>
<div class="collapse mb-2" id="filters">
    @await Html.PartialAsync("_FilterPartial", Model)
</div>

@*TODO: localise this*@
<div id="content">
    <span hidden id="query" data-value="@queryJson"></span>
    Loading...
</div>
<div class="row" id="page-selection">
    <div class="col-2">
        @*todo: add styles to this*@
        @*todo: make sure this works with vimium*@
        <a id="page-prev" class="previous">Previous</a>
    </div>
    <div class="col-2">
        <a id="page-next" class="next">Next</a>
    </div>
</div>

<script src="~/js/linkContentLoader.js" asp-append-version="true"></script>
