@using Rinkudesu.Gateways.Webui.Utils
@inject IViewLocalizer Localizer
<ul class="navbar-nav">
    @if (User.Identity!.IsAuthenticated)
    {
        <a href="@KeycloakSettings.Current.Authority/account" target="_blank" class="btn btn-primary">@Localizer["hello"] @User.Identity.Name</a>
        <form asp-controller="UserSession" asp-action="Logout" asp-antiforgery="true">
            <input type="submit" value="@Localizer["logout"]" class="btn btn-secondary"/>
        </form>
    }
    else
    {
        <form asp-controller="UserSession" asp-action="Login" asp-antiforgery="true" method="get">
            <input type="hidden" name="returnUrl" value="@Context.GetCurrentUrl()"/>
            <input type="submit" class="btn btn-secondary" value="@Localizer["login"]"/>
        </form>
    }
</ul>
