@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<Rinkudesu.Gateways.Webui.Models.UserAdminDetailsViewModel>
@inject IViewLocalizer Localizer
@{
    var query = (UserAdminIndexQueryViewModel)ViewBag.Query;
    var queryJson = JsonSerializer.Serialize(query, new JsonSerializerOptions { DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull });
}

<span hidden id="query" data-value="@queryJson"></span>
@foreach (var user in Model)
{
    var selfClass = user.Email == User.Identity?.Name ? "my-account" : string.Empty;
    <div class="row border my-2 p-1 index-data-row @selfClass">
        <div class="col-9">
            <div class="row">
                <div class="col-12 mb-2 text-break">
                    @if (user.IsAdmin)
                    {
                        <i class="fa-solid fa-crown" title="@Localizer["admin"]"></i>
                    }
                    <strong>@Html.DisplayFor(_ => user.Email)</strong>
                </div>

                <div class="col-12 col-lg-4 d-flex">
                    @if (user.EmailConfirmed)
                    {
                        <div class="flex-fill bg-success text-center text-break"><span>@Localizer["emailConfirmed"]</span></div>
                    }
                    else
                    {
                        <div class="flex-fill bg-warning text-center text-break"><span>@Localizer["emailNotConfirmed"]</span></div>
                    }
                </div>
                <div class="col-12 col-lg-4 d-flex">
                    @if (user.TwoFactorEnabled)
                    {
                        <div class="flex-fill bg-success text-center text-break"><span>@Localizer["twoFactorEnabled"]</span></div>
                    }
                    else
                    {
                        <div class="flex-fill bg-warning text-center text-break"><span>@Localizer["twoFactorNotEnabled"]</span></div>
                    }
                </div>
                @if (user.AccountLockedOut)
                {
                    <div class="col-12 col-lg-4 d-flex">
                        <div class="flex-fill bg-warning text-center text-break"><span>@Localizer["accountLocked"]</span></div>
                    </div>
                }
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                @*todo: this is a list of placeholder buttons to handle later*@
                <div class="col-12 col-lg-6 my-1 d-flex">
                    <form class="flex-fill d-flex" asp-action="ToggleAdmin" asp-antiforgery="true">
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                        <input type="hidden" name="assignAdmin" value="@((!user.IsAdmin).ToString())"/>
                        <input type="hidden" name="userId" value="@user.Id.ToString()"/>
                        <input type="submit" class="btn btn-warning flex-fill" value="@Localizer["adminToggle"]"/>
                    </form>
                </div>

                <div class="col-12 col-lg-6 my-1 d-flex">
                    <button class="btn btn-danger flex-fill" data-bs-toggle="modal" id="delete-user-@user.Id.ToString()" data-bs-target="#delete-user-modal-@user.Id.ToString()">@Localizer["delete"]</button>
                    <div class="modal fade" id="delete-user-modal-@user.Id.ToString()" tabindex="-1" aria-labelledby="#delete-user-label-@user.Id.ToString()" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-user-label-@user.Id.ToString()">@Localizer["userDelete"] @Html.DisplayFor(_ => user.Email)</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="DeleteAccount" asp-antiforgery="true">
                                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                                    <input type="hidden" name="userId" value="@user.Id.ToString()"/>
                                    <div class="modal-footer">
                                        <input id="user-@user.Id.ToString()-remove-submit" type="submit" class="btn btn-danger" value="@Localizer["confirm"]"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-1 d-flex">
                    <form class="flex-fill d-flex" asp-action="ToggleLockedState" asp-antiforgery="true">
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                        <input type="hidden" name="locked" value="@((!user.AccountLockedOut).ToString())"/>
                        <input type="hidden" name="userId" value="@user.Id.ToString()"/>
                        <input type="submit" class="btn btn-dark flex-fill" value="@Localizer["lockedToggle"]"/>
                    </form>
                </div>

                <div class="col-12 col-lg-6 my-1">
                    <button>More</button>@*Re-send confirmation email, force confirm account, force disable 2fa,...*@
                </div>
            </div>
        </div>
    </div>
}
